includes:
    - phpstan-baseline.neon

parameters:

    paths:
        - src
        - config

    # The level 10 is the highest level
    level: 10

    ignoreErrors:
       # - identifier: missingType.iterableValue
       # - identifier: missingType.generics

    excludePaths:

    checkModelProperties: true
    inferPrivatePropertyTypeFromConstructor: true
    treatPhpDocTypesAsCertain: false
    noEnvCallsOutsideOfConfig: false
